<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chat App</title>
</head>

<body>
    <h1>All Chats</h1>
    <h2>Welcome to the Chat</h2>
    <% for(data of datas) { %>
        <div class="chat">
            <p>From: <%- data.from %></p>
            <div class="msg">
                  <p>Message: <%- data.msg %></p>
            </div>
          
            <p>Received by: <%- data.to %></p>

        </div>
        <% } %>

</body>

</html>